@model int
@* can remove this XXX *@

@* START JS INCLUSION *@
<script src="~/js/Util/Util.js"></script>
<script src="~/js/Util/ViewUtil.js"></script>
<script src="~/js/Util/Icons.js"></script>
<script src="~/js/Util/StageFlag.js"></script>

<script src="~/js/Components/ContentBox.js"></script>
<script src="~/js/Components/ImageBox.js"></script>
<script src="~/js/Components/Editor.js"></script>
<script src="~/js/Components/DoubleEditor.js"></script>

<script src="~/js/Components/ContentBoxes/PostsBox.js"></script>
<script src="~/js/Components/ContentBoxes/ProfileImagesBox.js"></script>

<script src="~/js/Records/CommentRecord.js"></script>
<script src="~/js/Records/FullProfileRecord.js"></script>
<script src="~/js/Records/ImageRecord.js"></script>
<script src="~/js/Records/LikesRecord.js"></script>
<script src="~/js/Records/PostRecord.js"></script>
<script src="~/js/Records/ProfileRecord.js"></script>

<script src="~/js/Modals/Modal.js"></script>
<script src="~/js/Modals/CreatePostModal.js"></script>
<script src="~/js/Modals/UploadImageModal.js"></script>
<script src="~/js/Modals/FullSizeImageModal.js"></script>
<script src="~/js/Modals/ProfileModal.js"></script>
<script src="~/js/Modals/HelpModal.js"></script>

<script src="~/js/Dropdowns/Dropdown.js"></script>
<script src="~/js/Dropdowns/ImageDropdown.js"></script>
<script src="~/js/Dropdowns/FriendDropdown.js"></script>

<script src="~/js/Cards/Card.js"></script>
<script src="~/js/Cards/CommentCard.js"></script>
<script src="~/js/Cards/LikeCard.js"></script>
<script src="~/js/Cards/PostCard.js"></script>
<script src="~/js/Cards/ProfileCard.js"></script>
<script src="~/js/Cards/ImageCard.js"></script>

<script src="~/js/Main.js"></script>
<script src="~/js/User.js"></script>
<script src="~/js/Ajax.js"></script>
<script src="~/js/ConfirmPrompt.js"></script>
<script src="~/js/ContextMenu.js"></script>
<script src="~/js/ContextOption.js"></script>
<script src="~/js/NavBar.js"></script>
<script src="~/js/PublicPosts.js"></script>
<script src="~/js/IAppendable.js"></script>
@* END JS INCLUSION *@

@* Initialize JS. *@
<script>
    // Set on load listener on window. On load, get the current profile from the host and initialize main JS method with it.
    window.onload = () => Ajax.getCurrentProfile(profile => Main.initialize(profile))
</script>

@* This CSS file includes all other CSS files for home. *@
<link href="~/css/Bundle.css" rel="stylesheet" />

@*-------------------------NAV-MENU---------------------------*@
@* Functionality of navigation menu buttons are defined in Main.js *@
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navBar">

    @* --------------------LEFT-SIDE---------------------- *@

    @* Btn show friends. Opens or closes friends dropdown. *@
    <i id="btnShowFriends" class="fa fa-users navIcon" alt="friends"></i>

    @* Btn show images. Opens or closes images dropdown. *@
    <i id="btnShowImages" class="fa fa-image navIcon" alt="images"></i>

    @* Btn creat post. Opens create post modal. *@
    <div id="btnCreatePost">
        @* (compound icon) *@
        <i id="createPostPlusIcon" class="fa fa-plus navIcon" alt="create post"></i>
        <i id="createPostNoteIcon" class="fa fa-sticky-note navIcon" alt="create post"></i>
    </div>
    @* --------------------/LEFT-SIDE--------------------- *@

    @* CENTER *@
    @* Refreshes page.  *@
    <a href="/"><img src="~/ImgStatic/LuminLogoSource.png" class="navLogo" /></a>


    @* --------------------RIGHT-SIDE--------------------- *@
    <div class="pull-right">

        @* Btn open user profile modal. Opens the profile modal of current profile. *@
        <div id="btnOpenUserProfileModal" class="navicon" alt="my profile"></div>

        @* Btn open help modal. Opens help modal. *@
        <i id="btnOpenHelpModal" class="fa fa-question navIcon" alt="help"></i>

        @* Logs user out, in turn redirecting them to login page. *@
        <a asp-controller="Account" asp-action="Logout">
            <i id="btnLogout" class="fa fa-sign-out navIcon" alt="sign out"></i>
        </a>
    </div>
    @* -------------------/RIGHT-SIDE--------------------- *@
</div>
@*------------------------/NAV-MENU---------------------------*@

@*-----------------------------MAIN-BODY--------------------------*@

@* Container for main post feed. *@
<div id="publicPosts"></div>

@*-------------------------DROPDOWNS-----------------------*@
@* These float above (in terms of layer) and beside the main post feed. *@
@*
    Every dropdowns content is nested inside two divs.
    The first div is the backdrop for the content and controls the windows position and shape.
    The second div is the border of the content.
    Together they make a bezel.
*@

@* DROPDOWN TEMPLATE (gets copied) *@
<div id="dropdownFrameTemplate"></div>

@* SPECIALIZATIONS CONTAINER *@
<div id="dropdownFrameContainer"></div>

@* SPECIALIZATIONS *@
<div>
    @* IMAGE DROPDOWN *@
    <div id="imageDropdown" class="dropdownBox">
        <div class="dropdown-content" id="imageDropDownContent">

            @* Details and funtionality above the images. *@
            <div id="imageDropdownDetails">

                @* A slot for a message from caller. (ex. Select image for profile picture.) *@
                <div id="selectImagePrompt"></div>

                @*
                    This is normally visible on the page, but has been hidden by a stylesheet. It is
                    activated when the label below with the id of "btnImageModalUploadImage" is clicked on.
                *@
                <input type="file" id="imageModalUploadImage" name="file" class="fileInput">

                @*
                    Btn image upload modal. Effectively...

                    Because of the 'for' attribute, clicking this label triggers file upload process of the file input elm.

                    I find this behavior confusing, and I have a feeling it will be confusing to others, so I want to be extra
                    clear that this behavior is part of HTML.

                    The reason for this behavior is that there is a feature of forms where if you click on the label, the
                    input is selected.
                    Ex. First Name [___________]
                    If this were a webpage, and you clicked on "First Name", your cursor would go to the text input (that is, if
                    the value of the label's 'for' attribute was the id of the text input).
                    A similar thing happens when it is a file input.
                *@
                <label for="imageModalUploadImage" id="btnImageModalUploadImage">
                    @* (compound icon) *@
                    <i id="plusIcon" class="fa fa-plus"></i>
                    <i id="imageFileIcon" class="fa fa-file-image-o"></i>
                </label>
            </div>

            @* Container for images. *@
            <div id="selectImages"></div>
        </div>
    </div>

    @* FRIEND DROPDOWN *@
    <div id="friendsDropdown" class="dropdownBox">
        <div class="dropdown-content" id="friendDropdownContent">

            @* Search bar. *@
            <input type="text" id="txtSearchFriends" class="myTextBtnPair" />

            @* Btn search. Commences search. *@
            <button id="btnSearchFriends" class="myBtnTextPair">
                <i id="searchIcon" class="fa fa-search"></i>
            </button>

            @* Container for profile cards. *@
            <div id="friends"></div>
        </div>
    </div>
</div>
@*-------------------------/DROPDOWNS----------------------*@

@*-----------------------------/MAIN-BODY-------------------------*@

@* ------------------------------------------STANDALONE COMPONENTS------------------------------------------ *@

@* CONFIRM PROMPT *@
@* Prompts the user before an action is followed through with. *@
<div id="confirmPrompt">
    <div id="confirmContent" class="fixedContent">

        @* Caller specified msg. *@
        <h4 id="promptMessage"></h4>

        @* Confirm action. *@
        <button class="myBtnDefault" id="btnConfirmYes">Yes</button>

        @* Abort action. *@
        <button class="myBtnDefault" id="btnConfirmNo">No</button>

    </div>
</div>

@* CONTEXT MENU *@
@* Cutom R-Click dropdown. *@
@* Container for options. *@
<div id="contextMenu">
    <div id="contextContent"></div>
</div>
@* ------------------------------------------/STANDALONE COMPONENTS------------------------------------------ *@

@*---------------------------------------------------MODALS----------------------------------------------------*@
@*
    Every modals content is nested inside two divs.
    The first div is the backdrop for the content and controls the windows position and shape.
    The second div is the border of the content.
    Together they make a bezel.
*@

@* MODAL TEMPLATE (gets copied) *@
<div id="modalFrameTemplate" class="modalBox"></div>

@* FRAME CONTAINER *@
<div id="modalFrameContainer"></div>

@* Btn close modal. Shared by every modal. *@
<i id="btnCloseModal" class="fa fa-times-circle-o"></i>


@* SPECIALIZATIONS--------------------------------------- *@

@* HELP MODAL *@
@* Nothing functional exists in the help modal. It explains to the user how to use Lumin. *@
<div id="helpContent" class="my-modal-content modal-content-med">
    <h1>Help</h1>

    <div class="helpSection">
        <h3>GENERAL</h3>
        <h4>What can I do on Lumin?</h4>
        <ul>
            <li>Find friends</li>
            <li>Share your photos and thoughts</li>
            <li>Comment on other posts</li>
            <li>Like posts and comments</li>
        </ul>
        <h4>How do I close these windows??</h4>
        <p>
            Click on the background or click on the exit button in the
            upper-right corner of the screen to close pop-up windows.
        </p>
        <h4>How do I remove things?</h4>
        <p>
            The <i class="fa fa-ellipsis-v helpIcon" alt="ellipsis"></i> icon
            on comments and posts that belong to you opens a menu containing
            the option to edit and delete. For images, you can right-click on
            them to reveal those options.
        </p>
        <h4>What if I break something?</h4>
        <p>
            Don't be surprised. Refresh the page.
        </p>
    </div>

    <div class="helpSection">
        <h3>FRIENDS</h3>
        <h4>How do I find friends?</h4>
        <p>
            The <i class="fa fa-users helpIcon" alt="users"></i> icon on
            the navigation bar will display your current friends as well as
            give you the option to search for more.
        </p>
        <h4>How do I view my friends profile?</h4>
        <p>
            You can view your friends profile by clicking on their name or profile picture
        </p>
        <h4>How do I send a request, accept a request, cancel a request, and unfriend someone?</h4>
        <p>
            All of those options can be found by right-clicking on a users name or profile picture.
        </p>
    </div>


    <div class="helpSection">
        <h3>IMAGES</h3>
        <h4>Where are my images?</h4>
        <p>
            Your images can be found under the <i class="fa fa-image" alt="image"></i>
            icon on the navigation bar, as well as in the private profile menu.
        </p>
        <h4>How do I upload my images to Lumin?</h4>
        <p>
            Click on the <i class="fa fa-plus" alt="plus"></i>
            <i class="fa fa-file-image-o" alt="image file"></i> icon
            at the top of the image dropdown.
        </p>
        <h4>How do I view the full size version of an image?</h4>
        <p>
            The image on a post and images in a gallery can be clicked on to show their full size
            varient.
        </p>
    </div>

    <div class="helpSection">
        <h3>POSTS</h3>
        <h4>How do I post something?</h4>
        <p>
            You can post something by clicking on the
            <i class="fa fa-plus" alt="plus"></i>
            <i class="fa fa-sticky-note" alt="post"></i>
            icon on the navigation bar or by right-clicking on
            one of your photos and selecting the
            <i class="fa fa-plus" alt="plus"></i>
            <i class="fa fa-sticky-note" alt="post"></i>
            icon.
        </p>
    </div>

    <div class="helpSection">
        <h3>MY PROFILE</h3>
        <h4>How do I change my bio?</h4>
        <p>
            In your private profile menu, when you hover the mouse over your bio, an
            <i class="fa fa-edit" alt="edit"></i> icon appears.
        </p>
        <h4>How do I change my profile picture?</h4>
        <p>
            Click on your profile picture in your private profile menu and you will be prompted to
            select one of your images.
        </p>
    </div>

</div>

@* FULLSIZE IMAGE MODAL *@
@* Used for viewing images full screen. Collections of images can be navigated through with the left right buttons. *@
<div id="fullSizeImageModalContent" class="my-modal-content">

    @* Btn previous image. *@
    <i id="btnFullsizePrevious" class="fa fa-arrow-circle-left fsimb"></i>

    @* Full size image container. *@
    <div id="fullsizeImageBox"></div>

    @* Btn next image. *@
    <i id="btnFullsizeNext" class="fa fa-arrow-circle-right fsimb"></i>

    @* Display image count in an image collection. (Ex. "7/10") *@
    <div id="imageCount"></div>

</div>

@* IMAGE UPLOAD MODAL *@
<div id="imageUploadModal" class="my-modal-content modal-content-sm">

    @* Image to be uploaded is displayed here. *@
    <div id="stagedUploadCon"></div>
    <br />

    @* Btn confirm upload. *@
    <button id="btnConfirmImageUpload" class="myBtnDefault">Upload</button>

    @* Invisible file container element. Image file is attched to this. *@
    <input type="file" id="uploadImageModalUploadImage" name="file" class="fileInput">

    @* Btn select different image. XXX consider renaming this id *@
    <label id="btnSelectDifferentFile" class="myBtnDefault" for="uploadImageModalUploadImage">Select Different Image</label>
</div>

@* PROFILE MODAL *@
<div id="profileModal" class="my-modal-content">
    @* Profile header. *@
    <div id="profileSummary">

        @* Profile picture wrapper. *@
        <div id="profileModalPictureWrapper"></div>

        @* Area reserved for text. *@
        <div id="profileDetailSection">

            @* Profile name. *@
            <div id="profileNameWrapper"></div>

            @* Profile bio. *@
            <div id="profileBioWrapper"></div>
        </div>

        @* Profile images wrapper. Constrains width so images wrap into rows. XXX confirm this. *@
        @* Scrollable element. *@
        <div id="profileImagesWrapper">

            @* Container for images *@
            <div id="profileImages"></div>
        </div>

        @* Profile friends. *@
        <div id="profileFriends"></div>

    </div>

    @* Profile posts. *@
    <div id="profilePosts"></div>
</div>

@* CREATE POST MODAL *@
<div id="createPostModal" class="my-modal-content modal-content-med fixedContent">

    @* Container for the post image the user selected. *@
    <div id="selectedImageCon"></div>

    <br />
    @* Btn select post image. Opens profile images dropdown for user to select from. *@
    <button id="btnSelectPostImage" class="myBtnDefault">Select an Image</button>

    @* Btn clear post image. The post will no longer contain an image. *@
    <button id="btnClearPostImage" class="myBtnDefault">Clear Image</button>

    @* Caption area. *@
    <div class="form-group" id="captionWrapper">

        @*  Title. *@
        <label>Caption</label>

        @* Caption input. *@
        <textarea id="caption" class="form-control"></textarea>
    </div>

    @* Btn submit. Send to server if the post passed client side validation. *@
    <button id="btnSubmit" class="btn btn-primary">Post</button>

    @* Btn cancle. Clears image and caption and closes modal. *@
    <button id="btnCancel" class="btn btn-primary">Cancel</button>

    @* Container for post creation errors. *@
    <div id="createPostErrorBox"></div>

</div>

@*--------------------------------------------------/MODALS----------------------------------------------------*@
