.content-box {
    overflow: auto;
}

/*.content-box-horizontal {

}

.content-box-horizontal > div {
    display: inline;
}*/

.contentContainer > .content-box {
    overflow: visible;
}

.contentMessage {
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
}