.selectedPostImage {
    width: 100%;
    object-fit: cover;
}

.selectedPostImage:hover { 
    opacity: 0.9;
}

#selectedImageCon > .icon:hover {
    background-color: lightgray;
}

#selectedImageCon > .icon:hover > i {
    color: darkgray;
}

#selectedImageCon > .icon > i {
    font-size: 400pt;
    color: lightgray;
}

#selectedImageCon > .icon {
    text-align: center;
    margin: auto;
}

#btnClearAttachment {
    color: gray;
    font-size: 15pt;
    float: right;
    padding: 10px;
    margin-bottom: 5px;
}

#btnClearAttachment:hover {
    background-color: lightgray;
    color: darkgray;
    border-radius: 5px;
}

#caption {
    resize: none;
    height: 150px;
}