/* Modal Frame */
.modalBox {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    transition: opacity 0.15s;
    opacity: 0;
    cursor: pointer;
}

.my-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 62%;
    cursor: default;
}

.modal-content-sm { width: 15%; }
.modal-content-med { width: 30%; }

#btnCloseModal {
    display: none;
    position: fixed;
    font-size: 30pt;
    line-height: 45px;
    top: 60px;
    right: 10px;
    z-index: 1000;
    border-radius: 100px;
    padding: 15px;
    color: white;
}

#btnCloseModal:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.2);
}

.fixedContent {
    overflow: hidden;
}