#navBar {
    overflow: hidden;
    min-height: 0px;
    max-height: 50px;
    height: 0;
    transition: height 0.25s;
}

.navLogo {
    height: 22px;
    margin-left: 50px;
    margin-top: -10px;
}

.navIcon {
    color: ghostwhite;
    font-size: 18pt;
    margin: 12px 15px;
    outline: none;
}

.navIcon:hover {
    cursor: pointer;
}

#btnCreatePost {
    display: inline;
}
#btnCreatePost:hover {
    cursor: pointer;
}

#createPostPlusIcon {
    margin-right: 0;
    font-size: 12pt;
}

#createPostNoteIcon {
    margin-left: 0;
}

#btnOpenUserProfileModal > img {
    max-height: 35px;
    max-width: 35px;
    min-height: 35px;
    min-width: 35px;
    margin: 7px;
    border-radius: 100%;
}

#btnOpenUserProfileModal {
    margin: 0;
    display: inline-block;
}