#profileModalContent {
    width: 55%;
}

#closeProfileModal {
    display: inline-block;
    float: right;
    height: 30px;
    width: 30px;
    outline: none;
}

#profileSummary {
    background-color: rgb(58, 101, 178);
    display: grid;
    grid-template-columns: 12fr 9fr 9fr;
    padding: 5px;
    margin: -21px;
    margin-bottom: 20px;
    border-radius: 5px 5px 0px 0px;
    height: 300px;
}

#profileModalPictureWrapper, #profileNameWrapper, #profileBioWrapper, #profileImagesWrapper, #profileFriends {
    transition: opacity 0.25s;
    opacity: 0;
}

#profileBioAndProfilePicture {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*________ PROFILE PICTURE */
.profile-picture {
    width: 200px;
    height: 200px;
    /*object-fit: cover;*/
    border-radius: 100%;
}

#btnChangeProfilePicture {
    float: right;
    background: none;
    border: none;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 30px;
    outline: none;
    display: none;
}

#profileModalPictureWrapper:hover #btnChangeProfilePicture {
    display: inline;
}

#btnChangeProfilePicture:hover, #btnChangeName:hover, #btnChangeBio:hover {
    cursor: pointer;
}

/*________ PROFILE NAME */

#profileNameWrapper {
    padding-top: 20px;
}

.editor.name > .editable-text,
.editor.name > .editable-text2 {
    display: inline;
    font-size: 16pt;
    padding-left: 5px;
}

/*________ PROFILE BIO */
#profileBio {
    outline: none;
    word-break: break-word;
}

#profileBioWrapper:hover > #btnChangeBio,
#profileNameWrapper:hover > #btnChangeName {
    opacity: 1;
}

#btnChangeBio, #btnChangeName {
    opacity: 0;
    background: none;
    border: none;
    font-size: 20px;
    outline: none;
}

/*XXX Does not work. XXX*/
#profileBio:focus #btnChangeBio {
    display: none;
}

/*________ PROFILE IMAGES */

#profileImagesWrapper {
    overflow-y: auto;
}

/*#profileImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}*/

#profileImages:hover {
    cursor: pointer;
}

#profileImagesWrapper:hover > #viewAllImagesPrompt {
    display: inline;
}

/*________ PROFILE FRIENDS */

#profileFriends .profileCard {
    display: block;
}

#profileFriends {
    padding: 0% 5%;
}

#profileFriends:hover {
    cursor: pointer;
}