.profileCard {
    cursor: pointer;
    padding: 4px;
    border-radius: 100px;
}

.profileCard:hover {
    background: lightgray;
}

.profileCardName {
    font-weight: 600;
    text-overflow: ellipsis;
}

.profileCardThumbWrapper {
    display: inline;
}

.profileCard img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 5px;
}

.profileCard > .icon {
    display: inline;
    float: right;
    background-color: lightgray;
    padding: 5px;
    margin: 4px 20px auto 0;
    border-radius: 2px;
}

.profileCard:hover > .icon {
    background-color: gray;
}

.profileCard > .icon:hover {
    background-color: dimgray;
}