<html>
<head>
    
    @* Trying to phase out use of bootstrap. XXX check for dependencies. *@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    @* Used for icons. *@
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    @* Only used for Ajax. *@
    <script src="~/lib/jquery/jquery.js"></script>

    @* XXX not sure where used. *@
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>

    @* XXX not sure where used. *@
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    
    <title>Lumin</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>